C# WCF 채팅 프로그램(1대1) 클라이언트/1105 채팅 프로그램 1대일 클라이언트/Connected Services/ServiceReference1/GetService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Join">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idx" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JoinResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Say">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idx" type="xs:int" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Leave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idx" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Receive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idx" type="xs:int" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserEnter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idx" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>