C# WCF 연산프로그램 클라이언트/1104 오후 실습 클라이언트/Connected Services/ServiceReference2/CExample.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CExample" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.47:8888/wcf/example/helloworldservice?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.47:8888/wcf/example/helloworldservice?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.47:8888/wcf/example/helloworldservice?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_1104_%EC%98%A4%ED%9B%84_%EC%8B%A4%EC%8A%B5" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IExample_GetExample_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExample" />
  </wsdl:message>
  <wsdl:message name="IExample_GetExample_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExampleResponse" />
  </wsdl:message>
  <wsdl:message name="IExample_PrintExample_InputMessage">
    <wsdl:part name="parameters" element="tns:PrintExample" />
  </wsdl:message>
  <wsdl:message name="IExample_PrintExample_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintExampleResponse" />
  </wsdl:message>
  <wsdl:message name="IExample_InputExample_InputMessage">
    <wsdl:part name="parameters" element="tns:InputExample" />
  </wsdl:message>
  <wsdl:message name="IExample_InputExample_OutputMessage">
    <wsdl:part name="parameters" element="tns:InputExampleResponse" />
  </wsdl:message>
  <wsdl:portType name="IExample">
    <wsdl:operation name="GetExample">
      <wsdl:input wsaw:Action="http://tempuri.org/IExample/GetExample" message="tns:IExample_GetExample_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExample/GetExampleResponse" message="tns:IExample_GetExample_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrintExample">
      <wsdl:input wsaw:Action="http://tempuri.org/IExample/PrintExample" message="tns:IExample_PrintExample_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExample/PrintExampleResponse" message="tns:IExample_PrintExample_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InputExample">
      <wsdl:input wsaw:Action="http://tempuri.org/IExample/InputExample" message="tns:IExample_InputExample_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExample/InputExampleResponse" message="tns:IExample_InputExample_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IExample" type="tns:IExample">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetExample">
      <soap:operation soapAction="http://tempuri.org/IExample/GetExample" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintExample">
      <soap:operation soapAction="http://tempuri.org/IExample/PrintExample" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InputExample">
      <soap:operation soapAction="http://tempuri.org/IExample/InputExample" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CExample">
    <wsdl:port name="BasicHttpBinding_IExample" binding="tns:BasicHttpBinding_IExample">
      <soap:address location="http://192.168.0.47:8888/wcf/example/helloworldservice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>