C# WCF 연산프로그램 클라이언트/1104 오후 실습 클라이언트/Connected Services/ServiceReference2/helloworldservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.47:8888/wcf/example/helloworldservice?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_1104_%EC%98%A4%ED%9B%84_%EC%8B%A4%EC%8A%B5" />
  <xs:import schemaLocation="http://192.168.0.47:8888/wcf/example/helloworldservice?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetExample">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="max" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExampleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/_1104_%EC%98%A4%ED%9B%84_%EC%8B%A4%EC%8A%B5" minOccurs="0" name="GetExampleResult" nillable="true" type="q1:ArrayOfCal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintExample">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" type="xs:int" />
        <xs:element minOccurs="0" name="n2" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="op" type="q2:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintExampleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrintExampleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InputExample">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" type="xs:int" />
        <xs:element minOccurs="0" name="n2" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="op" type="q3:char" />
        <xs:element minOccurs="0" name="input" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InputExampleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InputExampleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>