C# WCF 이미지파일 클라이언트/1104 이미지 실습 클라이언트/Connected Services/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.47:8888/wcf/example/helloworldservice?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.47:8888/wcf/example/helloworldservice?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.47:8888/wcf/example/helloworldservice?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PictureService_GetPicture_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPicture" />
  </wsdl:message>
  <wsdl:message name="PictureService_GetPicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPictureResponse" />
  </wsdl:message>
  <wsdl:message name="PictureService_GetPictureList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPictureList" />
  </wsdl:message>
  <wsdl:message name="PictureService_GetPictureList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPictureListResponse" />
  </wsdl:message>
  <wsdl:message name="PictureService_UploadPicture_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadPicture" />
  </wsdl:message>
  <wsdl:message name="PictureService_UploadPicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadPictureResponse" />
  </wsdl:message>
  <wsdl:portType name="PictureService">
    <wsdl:operation name="GetPicture">
      <wsdl:input wsaw:Action="http://tempuri.org/PictureService/GetPicture" message="tns:PictureService_GetPicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PictureService/GetPictureResponse" message="tns:PictureService_GetPicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPictureList">
      <wsdl:input wsaw:Action="http://tempuri.org/PictureService/GetPictureList" message="tns:PictureService_GetPictureList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PictureService/GetPictureListResponse" message="tns:PictureService_GetPictureList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadPicture">
      <wsdl:input wsaw:Action="http://tempuri.org/PictureService/UploadPicture" message="tns:PictureService_UploadPicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PictureService/UploadPictureResponse" message="tns:PictureService_UploadPicture_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_PictureService" type="tns:PictureService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPicture">
      <soap:operation soapAction="http://tempuri.org/PictureService/GetPicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPictureList">
      <soap:operation soapAction="http://tempuri.org/PictureService/GetPictureList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadPicture">
      <soap:operation soapAction="http://tempuri.org/PictureService/UploadPicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_PictureService" binding="tns:BasicHttpBinding_PictureService">
      <soap:address location="http://192.168.0.47:8888/wcf/example/helloworldservice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>